*.out
*.run.xml
*.log
*.fls
*.fdb_latexmk
*.blg
*.bcf
*.bbl
*.aux
*.bib:Zone.Identifier
*.glo
*.synctex.gz
*.tex:Zone.Identifier
*.bbx:Zone.Identifier
*.cbx:Zone.Identifier
*.cls:Zone.Identifier
*.bst:Zone.Identifier
*.pdf